
<table id = "navMax">
    <tr>
	<td id = "navSpace"> 
		<a href="{%url 'news'%}?category=General">General</a> <!--the news isn't the actual news its just the template in news_api-->
	</td>
	<td id = "navSpace"> 
		<a href="{%url 'news'%}?category=Business">Business</a>
	</td>
	<td id = "navSpace"> 
		<a href="{%url 'news'%}?category=Entertainment">Entertainment</a>
	</td>
	<td id = "navSpace"> 
		<a href="{%url 'news'%}?category=Health">Health</a>
	</td>
	<td id = "navSpace"> 
		<a href="{%url 'news'%}?category=Science">Science</a>
	</td>
	<td id = "navSpace"> 
		<a href="{%url 'news'%}?category=Sports">Sports</a>
	</td>
	<td id = "navSpace"> 
		<a href="{%url 'news'%}?category=Technology">Technology</a>
	</td>
    </tr>
</table>
